@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Poppins";
    src: url("../public/Poppins-Regular.ttf");
}

*{
    font-family: "Poppins";
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}